<!doctype html>
   <html lang="en">
    <head>
        <meta charset="UTF-8">
       <title>Items List</title>
   </head>
   <body>
        <main>
            <h1>Items List</h1>              
                {% if not items %}
                    <p>No items found</p>
                <ul>
                    {% else %}
                        {% for item in items %}
                            <li>{{ item }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
        </main>
   </body>
   </html>
